In [ ]:
BEGIN;

CREATE TABLE Customers (
customer_id SERIAL PRIMARY KEY,
customer_name VARCHAR(100),
city VARCHAR(100));

CREATE TABLE Orders (
order_id SERIAL PRIMARY KEY,
customer_id INT,
order_date DATE,
total_amount FLOAT);

INSERT INTO Customers (customer_name, city)
VALUES
	('John Doe', 'New York'),
	('Jane Smith', 'Los Angeles'),
	('David Johnson', 'Chicago');
	
INSERT INTO Orders (customer_id, order_date, total_amount)
VALUES
	(1, '2022-01-10', 100),
	(1, '2022-02-15', 150),
	(2, '2022-03-20', 200),
	(3, '2022-04-25', 50);

COMMIT;

SELECT * FROM Customers;
SELECT * FROM Orders;

SELECT Customers.customer_name, COUNT(Orders.order_id) AS total_orders
FROM Customers
LEFT JOIN Orders ON Customers.customer_id = Orders.customer_id
GROUP BY Customers.customer_name

CREATE USER user6 WITH PASSWORD '1234';
CREATE USER user7 WITH PASSWORD '1234';

GRANT ALL PRIVILEGES ON Customers TO user6;
GRANT SELECT ON Customers TO user7;
GRANT INSERT ON Customers TO user7;
GRANT UPDATE ON Customers TO user7;
REVOKE SELECT ON Customers FROM user6;
REVOKE SELECT ON Customers FROM user7;